
<!DOCTYPE html>
<html>

<head>

  <title>Realtime communication with WebRTC</title>

  <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" />

</head>

<body>

  <h1>Realtime communication with WebRTC</h1>

  <div id="videos">
    <video id="localVideo" autoplay muted></video>
    <video id="remoteVideo" autoplay></video>
  </div>
  <div id="chatlog"></div>
  <textarea id="text" name="text"></textarea>
  <button id="sendText" onclick="sendData()">Send</button>

  <script src="{{url_for('static', filename='js/lib/socket.io.js')}}"></script>
  <script src="{{url_for('static', filename='js/lib/adapter.js')}}"></script>
  <script src="{{url_for('static', filename='js/main.js')}}"></script>

</body>

</html>
